.bg-primary { /*set primary to different color  */
    background-color: #212020 !important;
 }
 .bg-secondary {
    background-color:#363636 !important;
 }
 .border-success{
    color: #00FFEB !important;
    border-color:#00FFEB !important;
 }
.logo{
    height: 90px!important;
    margin: 10px ;
}
  
.navbar-nav{
    font-size: 25px;
    gap: 5rem;
    font-weight: bold;
    margin-right: 5%;
}
.navbar-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}


/* nav  hover effect  */
.navbar-nav a:hover {
    color: #00FFEB; 
    text-decoration: none; 
}



/*set a border and hover to the portolio butten  */
.projectbut {
    display: inline-block;
    border: 1px solid #989898;
    padding: 8px 24px;
    font-size: 20px;
    text-decoration: none;
    color: #e0e0e0;
    margin-left: 1125px;
    margin-top: 269px;
    
  }
  .projectbut:hover {
    color: #00FFEB; /* Text color when hover */
    border: 1px solid #00FFEB;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .dereklai{
    width: 300px;
    margin-left: 60px;
    margin-top: 50px;
  }
  
  .container{
    margin-top: 2%;
  }
  
  .servicesection{
    margin: 4%;
  }
  .service{
    margin: 4%;
  }

  /* Text Glitch Effects From Matt Gross https://codepen.io/mattgrosswork/pen/VwprebG */
  /*i made adjment base on his code */
  .hero {   
    color: #ccc;
    font-family: sans-serif;
    font-weight: bold;
    font-size: clamp(40px, 10vw, 190px);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 3;
    letter-spacing: 10px;
    margin-right: 40%;
    
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 1px 3px);
  }
  

  
  .layers {
    position: relative;
  }
  
  .layers::before,
  .layers::after {
    content: attr(data-text);
    position: absolute;
    width: 85%;
    z-index: -1;
  }
  
  .layers::before {
    font-weight: bold;
    top: 1px;
    left: 10px;
    color: #00FFEB;
  }
  
  .layers::after {
    font-weight: bold;
    top: 5px;
    right: 6px;
    color: #00FFEB;
  }
  
  .single-path {
    clip-path: polygon(
      0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%
    );
  }
  
  .paths {
    animation: paths 8s step-end infinite;
  }
  
  @keyframes paths {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  .movement {
    position: relative;
    animation: movement 7s step-end infinite;
  }
  
  @keyframes movement {
    0% {
        top: 0px;
        left: -20px;
      }
    
      15% {
        top: 10px;
        left: 10px;
      }
    
      60% {
        top: 5px;
        left: -10px;
      }
    
      75% {
        top: -5px;
        left: 20px;
      }
    
      100% {
        top: 10px;
        left: 5px;
  }
}
  
  .opacity {
    animation: opacity 4s step-end infinite;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }
  
  .font {
    animation: font 5s step-end infinite;
  }
  
  @keyframes font {
    0% {
      font-weight: 100;
      color: #dddddd;
    }
  
    20% {
      font-weight: 500;
      color:#cacaca;;
    }
  
    50% {
      font-weight: 300;
      color: #77aba7;
    }
  
    60% {
      font-weight: 500;
      color: rgb(204, 204, 204);
    }
  
    90% {
      font-weight: 400;
      color: #80aeaa;
    }
  }
  
  .glitch span {
    animation: paths 7s step-end infinite;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 7s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 6s step-end infinite, opacity 6s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  
  .hero-container {
    position: relative;
    padding: 200px ;
    text-align: center;
    padding: 20px 0;

  }
  
  .heroimg{
    background-image: url("../images/hero.jpg");
    height: 800px;
    width: 100%;
  }

  .tw{
    width: 500px;
  }

  .twcarousel {
    max-width: 500px; /* adjust carousel width  */
    margin: 0 auto;
  }
  
  .carousel-inner {
    max-width: 100%;
  }
  
  .carousel-inner .carousel-item img {
    max-width: 100%;
    height: auto; /* maintain the aspect ratio */
  }
  

.readmore {
    display: inline-block;
    border: 1px solid #989898;
    padding: 8px 24px;
    font-size: 20px;
    text-decoration: none;
    color: #e0e0e0;
    
    
  }
  .readmore:hover {
    color: #00FFEB; /* Text color when hover */
    border: 1px solid #00FFEB;
    transition-property: all;
    transition-duration: 0.3s;
  }

  #fcf-form {
    display:block;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.fcf-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.collaboration{
    list-style: none;
}
footer{
    text-align: center;
}

.social-icons i {
    margin: 15px;
    font-size: 30px;
  }

  .social-icons i:hover {
    color: #707070; /* Color when hovering */
    transition-property: all;
    transition-duration: 0.3s;
  }
  
@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn-primary {
    color: #fff;
    border-color: #ffffff;
}

.fcf-btn-primary:hover {
    color: #00FFEB;
    border-color: #00FFEB;
}


.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

  footer{
    justify-content: center;
  }
  

